<h1>Editing schedule</h1>

<%= form_for(@schedule, url: schedule_wizard_step_path(id: :edit), method: :put) do |f| %>
  <% if @schedule.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@schedule.errors.count, "error") %> prohibited this schedule from being saved:</h2>

      <ul>
      <% @schedule.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <dl class="dl-horizontal">
    <dt><%= f.label :scheduled_on %></dt>
    <dd><%= f.date_field :scheduled_on, class: "form-control" %></dd>
  </dl>
  <dl class="dl-horizontal">
    <dt><%= f.label :description %></dt>
    <dd><%= f.text_area :description, class: "form-control" %></dd>
  </dl>
  <dl class="dl-horizontal">
    <dt><%= f.label :user %></dt>
    <dd>
      <%= collection_check_boxes :schedule, :user_ids, User.all, :id, :username do |b| %>
        <%= b.label(class: "checkbox-inline") { b.check_box + b.text } %>
      <% end %>
    </dd>
  </dl>
  <%= f.hidden_field :lock_version %>
  <div class="actions">
    <%= f.submit class: "btn btn-default" %>
  </div>
<% end %>

<%= link_to 'Show', @schedule %> |
<%= link_to 'Back', schedules_path %>
