<%= form_for(@schedule) do |f| %>
  <% if @schedule.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@schedule.errors.count, "error") %> prohibited this schedule from being saved:</h2>

      <ul>
      <% @schedule.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :scheduled_on %><br>
    <%= f.date_field :scheduled_on %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :user %><br>
    <%= collection_select :user, :username, User.all, :id, :username, include_blank: true %>
  </div>
  <%= f.hidden_field :lock_version %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
